body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.pancakesAttr {
  background-color: aquamarine;
  width: 120px;
 }
 .pancakesAttr {
  background-color: rgb(189, 19, 98);
  width: 120px;
  }

  #pancakesForm {
    background-color:rgba(211, 237, 14, 0.622);
    width: 325px;
  }
  
  h1{
    color: rgb(55, 137, 205);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }